@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<head>
   
    <title></title>
   <link href="~/content/bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/bootstrap.js"></script>

</head>
<br />
<br />
<br />
<h2>Welcome</h2>
