@{
    ViewBag.Title = "takeMoney";
    Layout = "~/Views/Shared/GcuS.cshtml";
}

<h2>takeMoney</h2>



<link href="~/content/bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
<html>
<body>
    <h2 class="page-header">Done.. Your amount is with-drawed ..</h2>
    <div>
        <!----forms-->
       
          <input type="text" value=" Do You Want Receipt ? "/>

      
        
                <a href="/Gcu/receipt"> <input type="submit" value="Yes" name="submit" /> </a><br /><br />
               
            
            <a href="/Gcu/index"><input type="submit" value="No" name="submit" /> </a><br /><br />
                     
                       
                 </div>
                  

        
        
</body>
    </html>















