@{
    ViewBag.Title = "withdraw";
    Layout = "~/Views/Shared/GcuS.cshtml";
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <title></title>
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/bootstrap.js"></script>

</head>
<body>

 <!----forms---->
        <form action="/Gcu/takeMoney" method="post">
            <br />

            <div class="form-group" style="width:40% ">
                <label for="Amount"> Amount*</label>
                <input type="text" class="form-control" placeholder="Enter Your AMOUNT you want to WITH-DRAW" name="amount"/>

            </div>

                    <button type="submit" class="btn btn-default" style="background-color:black; color:white; padding-top:1px; padding-bottom:1px;">
                </button>
              <button type="submit" class="btn btn-primary"> Submit</button> 
                  </form>
        <!--End forms-->

      
    


</body>
</html>

