@{
    ViewBag.Title = "added";
    Layout = "~/Views/Shared/PuS.cshtml";
}

<h2>added</h2>

<link href="~/content/bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
<html>
<body>
    <br /><br />
    <h2 class="page-header">Done.. Your amount is received ..</h2>
    <div>
        <!----forms-->
       
          <input type="text" value=" Do You Want Receipt ? "/>
        
                <a href="/Gcu/receipt"> <input type="submit" value="Yes" name="submit" /> </a><br /><br />
   @*     <h3 class="page-header"> OLD Amount  </h3> *@               
            
            <a href="/Gcu/index"><input type="submit" value="No" name="submit" /> </a><br /><br />
                     
                       
                 </div>
                  

        
        
</body>
    </html>















