@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/PuS.cshtml";
}


<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
   
    <title></title>
   <link href="~/content/bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/bootstrap.js"></script>

</head>
<body>
    <b>Welcome :)</b>
        

</body>
</html>