@{
    ViewBag.Title = "seeBal";
    Layout = "~/Views/Shared/PuS.cshtml";
}

<h2>seeBal</h2>


<link href="~/content/bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
<html>
<body>


  

    <h2 class="page-header">This is your current Balance  @ViewBag.am</h2>

            
</body>
    </html>